#about{
    margin-bottom: 20px;
    padding: 2vw 4vw 0vw 4vw;
}
.about{
    margin-top: 0,5rem;
    margin-bottom: 1rem;
}
.about2{
    margin-top: 2rem;
}
.about3 {
    font-size: 15px;
}